# Ignorar carpetas __pycache__
**/__pycache__/

# Ignorar archivos pyc generados
*.pyc

# Ignorar carpetas generadas por herramientas como dist, build, etc.
dist/
build/
*.egg-info/

.idea/

assets/scripts/keymaps/custom_keymaps.sh
